TravelGoodTest/src/META-INF/wsdl/localhost_8080/HolderService/HolderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.holder/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.holder/" name="HolderService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.holder/" schemaLocation="http://localhost:8080/HolderService/HolderService?xsd=1"/>
</xsd:schema>
</types>
<message name="destroy">
<part name="parameters" element="tns:destroy"/>
</message>
<message name="destroyResponse">
<part name="parameters" element="tns:destroyResponse"/>
</message>
<message name="getFlightPrice">
<part name="parameters" element="tns:getFlightPrice"/>
</message>
<message name="getFlightPriceResponse">
<part name="parameters" element="tns:getFlightPriceResponse"/>
</message>
<message name="createFlightAttributes">
<part name="parameters" element="tns:createFlightAttributes"/>
</message>
<message name="createFlightAttributesResponse">
<part name="parameters" element="tns:createFlightAttributesResponse"/>
</message>
<message name="getFlightsIdByStatus">
<part name="parameters" element="tns:getFlightsIdByStatus"/>
</message>
<message name="getFlightsIdByStatusResponse">
<part name="parameters" element="tns:getFlightsIdByStatusResponse"/>
</message>
<message name="getHotelsBookNoByStatus">
<part name="parameters" element="tns:getHotelsBookNoByStatus"/>
</message>
<message name="getHotelsBookNoByStatusResponse">
<part name="parameters" element="tns:getHotelsBookNoByStatusResponse"/>
</message>
<message name="createHotelAttributes">
<part name="parameters" element="tns:createHotelAttributes"/>
</message>
<message name="createHotelAttributesResponse">
<part name="parameters" element="tns:createHotelAttributesResponse"/>
</message>
<message name="getItineraryAsString">
<part name="parameters" element="tns:getItineraryAsString"/>
</message>
<message name="getItineraryAsStringResponse">
<part name="parameters" element="tns:getItineraryAsStringResponse"/>
</message>
<message name="setFlightStatus">
<part name="parameters" element="tns:setFlightStatus"/>
</message>
<message name="setFlightStatusResponse">
<part name="parameters" element="tns:setFlightStatusResponse"/>
</message>
<message name="setHotelStatus">
<part name="parameters" element="tns:setHotelStatus"/>
</message>
<message name="setHotelStatusResponse">
<part name="parameters" element="tns:setHotelStatusResponse"/>
</message>
<message name="storeItinerary">
<part name="parameters" element="tns:storeItinerary"/>
</message>
<message name="storeItineraryResponse">
<part name="parameters" element="tns:storeItineraryResponse"/>
</message>
<message name="storeClient">
<part name="parameters" element="tns:storeClient"/>
</message>
<message name="storeClientResponse">
<part name="parameters" element="tns:storeClientResponse"/>
</message>
<message name="getHotelsBookNo">
<part name="parameters" element="tns:getHotelsBookNo"/>
</message>
<message name="getHotelsBookNoResponse">
<part name="parameters" element="tns:getHotelsBookNoResponse"/>
</message>
<message name="getFlightsId">
<part name="parameters" element="tns:getFlightsId"/>
</message>
<message name="getFlightsIdResponse">
<part name="parameters" element="tns:getFlightsIdResponse"/>
</message>
<message name="getItinerariesId">
<part name="parameters" element="tns:getItinerariesId"/>
</message>
<message name="getItinerariesIdResponse">
<part name="parameters" element="tns:getItinerariesIdResponse"/>
</message>
<message name="getHotelStatus">
<part name="parameters" element="tns:getHotelStatus"/>
</message>
<message name="getHotelStatusResponse">
<part name="parameters" element="tns:getHotelStatusResponse"/>
</message>
<portType name="HolderService">
<operation name="destroy">
<input wsam:Action="http://ws.holder/HolderService/destroyRequest" message="tns:destroy"/>
<output wsam:Action="http://ws.holder/HolderService/destroyResponse" message="tns:destroyResponse"/>
</operation>
<operation name="getFlightPrice">
<input wsam:Action="http://ws.holder/HolderService/getFlightPriceRequest" message="tns:getFlightPrice"/>
<output wsam:Action="http://ws.holder/HolderService/getFlightPriceResponse" message="tns:getFlightPriceResponse"/>
</operation>
<operation name="createFlightAttributes">
<input wsam:Action="http://ws.holder/HolderService/createFlightAttributesRequest" message="tns:createFlightAttributes"/>
<output wsam:Action="http://ws.holder/HolderService/createFlightAttributesResponse" message="tns:createFlightAttributesResponse"/>
</operation>
<operation name="getFlightsIdByStatus">
<input wsam:Action="http://ws.holder/HolderService/getFlightsIdByStatusRequest" message="tns:getFlightsIdByStatus"/>
<output wsam:Action="http://ws.holder/HolderService/getFlightsIdByStatusResponse" message="tns:getFlightsIdByStatusResponse"/>
</operation>
<operation name="getHotelsBookNoByStatus">
<input wsam:Action="http://ws.holder/HolderService/getHotelsBookNoByStatusRequest" message="tns:getHotelsBookNoByStatus"/>
<output wsam:Action="http://ws.holder/HolderService/getHotelsBookNoByStatusResponse" message="tns:getHotelsBookNoByStatusResponse"/>
</operation>
<operation name="createHotelAttributes">
<input wsam:Action="http://ws.holder/HolderService/createHotelAttributesRequest" message="tns:createHotelAttributes"/>
<output wsam:Action="http://ws.holder/HolderService/createHotelAttributesResponse" message="tns:createHotelAttributesResponse"/>
</operation>
<operation name="getItineraryAsString">
<input wsam:Action="http://ws.holder/HolderService/getItineraryAsStringRequest" message="tns:getItineraryAsString"/>
<output wsam:Action="http://ws.holder/HolderService/getItineraryAsStringResponse" message="tns:getItineraryAsStringResponse"/>
</operation>
<operation name="setFlightStatus">
<input wsam:Action="http://ws.holder/HolderService/setFlightStatusRequest" message="tns:setFlightStatus"/>
<output wsam:Action="http://ws.holder/HolderService/setFlightStatusResponse" message="tns:setFlightStatusResponse"/>
</operation>
<operation name="setHotelStatus">
<input wsam:Action="http://ws.holder/HolderService/setHotelStatusRequest" message="tns:setHotelStatus"/>
<output wsam:Action="http://ws.holder/HolderService/setHotelStatusResponse" message="tns:setHotelStatusResponse"/>
</operation>
<operation name="storeItinerary">
<input wsam:Action="http://ws.holder/HolderService/storeItineraryRequest" message="tns:storeItinerary"/>
<output wsam:Action="http://ws.holder/HolderService/storeItineraryResponse" message="tns:storeItineraryResponse"/>
</operation>
<operation name="storeClient">
<input wsam:Action="http://ws.holder/HolderService/storeClientRequest" message="tns:storeClient"/>
<output wsam:Action="http://ws.holder/HolderService/storeClientResponse" message="tns:storeClientResponse"/>
</operation>
<operation name="getHotelsBookNo">
<input wsam:Action="http://ws.holder/HolderService/getHotelsBookNoRequest" message="tns:getHotelsBookNo"/>
<output wsam:Action="http://ws.holder/HolderService/getHotelsBookNoResponse" message="tns:getHotelsBookNoResponse"/>
</operation>
<operation name="getFlightsId">
<input wsam:Action="http://ws.holder/HolderService/getFlightsIdRequest" message="tns:getFlightsId"/>
<output wsam:Action="http://ws.holder/HolderService/getFlightsIdResponse" message="tns:getFlightsIdResponse"/>
</operation>
<operation name="getItinerariesId">
<input wsam:Action="http://ws.holder/HolderService/getItinerariesIdRequest" message="tns:getItinerariesId"/>
<output wsam:Action="http://ws.holder/HolderService/getItinerariesIdResponse" message="tns:getItinerariesIdResponse"/>
</operation>
<operation name="getHotelStatus">
<input wsam:Action="http://ws.holder/HolderService/getHotelStatusRequest" message="tns:getHotelStatus"/>
<output wsam:Action="http://ws.holder/HolderService/getHotelStatusResponse" message="tns:getHotelStatusResponse"/>
</operation>
</portType>
<binding name="HolderServicePortBinding" type="tns:HolderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="destroy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFlightAttributes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightsIdByStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHotelsBookNoByStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createHotelAttributes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItineraryAsString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setFlightStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setHotelStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeItinerary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHotelsBookNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFlightsId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItinerariesId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHotelStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolderService">
<port name="HolderServicePort" binding="tns:HolderServicePortBinding">
<soap:address location="http://localhost:8080/HolderService/HolderService"/>
</port>
</service>
</definitions>