TravelGoodTest/src/META-INF/wsdl/192.168.0.28_9080/Test-sun-http-binding/TravelGoodBPEL/localhost_8080/LameDuck_1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:ns1="http://types.fastmoney.imm.dtu.dk" xmlns:tns="http://ws.lameduck/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.lameduck/" version="1.0">

<xs:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="LameDuck_2.xsd"/>

<xs:element name="BookFlightFault" type="xs:int"/>

<xs:element name="FlightDetails" type="tns:flightDetails"/>

<xs:element name="FlightRequest" type="tns:flightRequest"/>

<xs:element name="bookFlight" type="tns:bookFlight"/>

<xs:element name="bookFlightRequest" type="tns:bookFlightRequest"/>

<xs:element name="bookFlightResponse" type="tns:bookFlightResponse"/>

<xs:element name="cancelFlight" type="tns:cancelFlight"/>

<xs:element name="cancelFlightRequest" type="tns:cancelFlightRequest"/>

<xs:element name="cancelFlightResponse" type="tns:cancelFlightResponse"/>

<xs:element name="getFlights" type="tns:getFlights"/>

<xs:element name="getFlightsResponse" type="tns:getFlightsResponse"/>

<xs:complexType name="cancelFlight">
<xs:sequence>
<xs:element minOccurs="0" name="cancelReq" type="tns:cancelFlightRequest"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelFlightRequest">
<xs:sequence>
<xs:element name="bookingNo" type="xs:int"/>
<xs:element minOccurs="0" name="creditCardDetails" type="ns1:creditCardInfoType"/>
<xs:element name="flightPrice" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelFlightResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="bookFlight">
<xs:sequence>
<xs:element minOccurs="0" name="bookReq" type="tns:bookFlightRequest"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookFlightRequest">
<xs:sequence>
<xs:element name="bookingNo" type="xs:int"/>
<xs:element minOccurs="0" name="creditCardDetails" type="ns1:creditCardInfoType"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookFlightResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlights">
<xs:sequence>
<xs:element minOccurs="0" name="flightsReq" type="tns:flightRequest"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightRequest">
<xs:sequence>
<xs:element minOccurs="0" name="endLocation" type="xs:string"/>
<xs:element minOccurs="0" name="flightDate" type="xs:dateTime"/>
<xs:element minOccurs="0" name="startLocation" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:flightDetails"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightDetails">
<xs:sequence>
<xs:element minOccurs="0" name="airlineCompany" type="xs:string"/>
<xs:element minOccurs="0" name="arrivalTime" type="xs:dateTime"/>
<xs:element name="bookingNo" type="xs:int"/>
<xs:element minOccurs="0" name="departureTime" type="xs:dateTime"/>
<xs:element minOccurs="0" name="endLocation" type="xs:string"/>
<xs:element name="price" type="xs:int"/>
<xs:element minOccurs="0" name="startLocation" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
